h1{
    text-align: center; color: rebeccapurple; background-color: antiquewhite;
}
*{
    text-align: center;
}
h2{
    color:blue;
}
html {
    background-color: aliceblue;
  }
  h2{
    color: antiquewhite; background-color: darkcyan;
  }
  h3{
    color: antiquewhite; background-color: darkslategray;
  }